extends headerForOtherPages.pug

block main_logo
	img(src="assets/img/logo_beauty.jpg")

block instagram
	a(href="https://www.instagram.com/salon_usbani/", target="_blank")
		img(src="assets/img/Instagram_black.svg")

block instagram_mini
	a(href="https://www.instagram.com/salon_usbani/", target="_blank")
		img(src="assets/img/Instagram_black.svg")

block phone
	a.tel(href="tel: +7 (968) 588-45-82") +7 (968) <span>588-45-82</span>