.certificate_feedback
    img.certificate_close(src="assets/img/feedback_close.svg", alt="")
    h3 Купить сертификат
    form#form_sert(action="")
        label(for="certificate_feedback_name") Ваше имя
        input#certificate_feedback_name(type="text", name="name", placeholder="Введите Имя")

        label(for="certificate_feedback_phone") Ваш телефон
        input#certificate_feedback_phone(type="text", name="phone", placeholder="+7 (___) ___-__-__", autocomplete="off")

        p.cost Номинал сертификата: 
            span
        .check-box
            input(class="check", type="checkbox", name="terms", id="certificate_politics")
            label(for="certificate_politics")
            p Даю согласие на 
                span обработку персональных данных
        .send_block
            input(class="btn-send" type="submit" name="submit" value="Купить сертификат")