.menu
    img.menu_close(src="assets/img/fan_close.svg")
    .menu-slider    
        .slider-item
            img(src="assets/img/menu.jpg")
        .slider-item
            img(src="assets/img/menu2.jpg")