extends headerForOtherPages.pug

block main_logo
	img(src="assets/img/shoe_shine.svg")

block instagram
	a(href="https://www.instagram.com/salon_usbani/", target="_blank")
		img(src="assets/img/Instagram_black.svg")

block instagram_mini
	a(href="https://www.instagram.com/salon_usbani/", target="_blank")
		img(src="assets/img/Instagram_black.svg")

block phone
	a.tel(href="tel: +7 (968) 588-45-82") +7 (499) <span>246-60-79</span>
