footer
    .container.container_footer
        .nav_menu
            nav
                a.about(href="about.pug") О бане
                a.ranks(href="branches.pug") отделения
                a.services(href="service.pug") Услуги
                a.stocks(href="stocks.pug") Акции
            a.logo(href="/")
                img(src="assets/img/logo.svg")
            nav
                a.recall(href="recall.pug") Отзывы
                a.gallery(href="gallery.pug") Галерея
                a.contacts(href="contacts.pug") Контакты
                a.beautyshop(href="beautyshop.pug") Салон
        .soc_block
            a(href="https://vk.com/usbani", target="_blank")
                img(src="assets/img/vk.svg")
            block instagram
                a(href="https://www.instagram.com/usachevskiebani/", target="_blank")
                    img(src="assets/img/Instagram.svg")
            a(href="https://ok.ru/group/55854397587615", target="_blank")
                img(src="assets/img/odnoklassniki.svg")
            a(href="https://www.youtube.com/channel/UC-E4XE2udpVwwuXBaAL76yQ", target="_blank")
                img(src="assets/img/youtube.svg")
        .contacts
            a.present(href="certificate.pug") Подарочный сертификат
            .tel-box
                a.left-num(href="tel:+79269493436") +7 (926) <span>949-34-36</span>
                a.right-num(href="tel:+74957408436") +7 (495) <span>740-84-36</span>
            a.reserve(href='reservation.pug') Забронировать кабинку
            .tel-box-mobil
                a.left-num(href="tel:+79269493436") +7 (926) <span>949-34-36</span>
                a.right-num(href="tel:+74957408436") +7 (495) <span>740-84-36</span>
        .address
            h3 ул. Усачева, д. 10, кор. 1
        p.privacy © 2018 «Усачевские бани»