.social
    .container
        .social-block
            h2 Подписывайся на бани!
            .social-icon-block
                .instagram-box
                    a(href="https://www.instagram.com/usachevskiebani/", target="_blank")
                        img(src="assets/img/Instagram_black.svg")
                    p Мы в Instagram
                .vk-box
                    a(href="https://vk.com/usbani", target="_blank")
                        img(src="assets/img/vk_black.svg")
                    p Мы во «ВКонтакте»
                .odnoklassniki-box
                    a(href="https://ok.ru/group/55854397587615", target="_blank")
                        img(src="assets/img/odnoklassniki_black.svg")
                    p Мы в Одноклассниках
                .youtube-box
                    a(href="https://www.youtube.com/channel/UC-E4XE2udpVwwuXBaAL76yQ", target="_blank")
                        img(src="assets/img/youtube_black.svg")
                    p Мы на Youtube
            .photo-block
                .photo-item
                    img(src="assets/img/photo1.jpg")
                    .like-box
                        img(src="assets/img/like_icon.svg")
                        p Нравится: 234
                    .text-box
                        p &#10071; Торопимся сообщить, что в понедельник 12 августа «Усачевские бани» будут закрыты на санитарный день!
                        p ☺ Не расстраивайтесь! Уже с 13 августа бани заработают в штатном режиме и будут радовать самым горячим паром и лучшим атмосферным отдыхом...
                .photo-item
                    img(src="assets/img/photo2.jpg")
                    .like-box
                        img(src="assets/img/like_icon.svg")
                        p Нравится: 234
                    .text-box
                        p Наш постоянный гость @radulov22 
                            | Как думаете какой у Александра Радулова любимый пар?
                .photo-item
                    img(src="assets/img/photo3.jpg")
                    .like-box
                        img(src="assets/img/like_icon.svg")
                        p Нравится: 234
                    .text-box
                        p 🏒 Хоккеист Александр Радулов @radulov22 в "Усачевских банях"! 🏆 Тот самый момент, когда обладатель Кубка Гагарина 2011 года пришёл в баню, где парился сам Юрий Гагарин!
                        p 🔥 Не пропустите горячий пар и яркий отдых и вы!
                .photo-item
                    img(src="assets/img/photo1.jpg")
                    .like-box
                        img(src="assets/img/like_icon.svg")
                        p Нравится: 234
                    .text-box
                        p 💪 В "Усачевских банях" можно не только отлично попариться, поесть и отдохнуть, но и встретиться с коллегами и друзьями в приятной атмосфере.
                        p 🔻 У нас вы можете арендовать VIP-кабинки по следующим ценам: <br>
                            |маленькая до 6 человек: 4000₽ за три часа ...