.steam
    img.steam_close(src="assets/img/feedback_close.svg", alt="")
    h3 Расписание пара
    .table
        .col.left
            span 10
            p Мята
            span 11
            p Эвкалипт
            span 12
            p Мелисса
            span 13
            p Эвкалипт
            span 14
            p Мята
            span 15
            p Полынь
            span 16
            p Хрен
        .col.right
            span 17
            p Чеснок
            span 18
            p Эвкалипт
            span 19
            p Мелисса
            span 20
            p Хрен
            span 21
            p Чеснок
            span 22
            p Мята