.tea_card
    img.tea_close(src="assets/img/fan_close.svg", alt="")
    .tea_card_slider
        .slider-item
            img(src="assets/img/tea1.jpg", alt="")
        .slider-item
            img(src="assets/img/tea2.jpg", alt="")
        .slider-item
            img(src="assets/img/tea1.jpg", alt="")
        .slider-item
            img(src="assets/img/tea2.jpg", alt="")
        .slider-item
            img(src="assets/img/tea1.jpg", alt="")
        .slider-item
            img(src="assets/img/tea2.jpg", alt="")