  html.shoeshine
  .contacts-box
    p
      display: none
  h1
    font-weight 400;
    font-size: 2.8vw

  .blockTitle
    &.shoe-shine-tab
      background-image url("../assets/img/shoeshine/shoe-shine.jpg");
  .service_wrapper
    padding: 77px 0;
    h2
      font-size: 32px;
      padding-bottom: 53px;
    .wrapper_content
      display: flex;
      font-size: 24px;
      & > *
        width: 50%;
    .list-left
      justify-content: space-between;
      padding-right: 5px;
    .col
      display: flex;
      justify-content: space-between;
      & > p:last-child
        color: #ba8d6c;
    .list-right
      justify-content: space-between;
      padding-left: 35px
    .col
      display: flex;
      justify-content: space-between;
      & > p:last-child
        color: #ba8d6c;
  .container
    h2
      font-size: 32px;
  section.beautyShop .department-block .department-item .blockTitle
    height: 26.6vw;
  div.breadcrumbs, h1, div.department-paginator, div.service_wrapper, div.action_block, section.beautyShop .department-block .gallery
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .container
      margin 0;
  section.beautyShop .department-block .gallery
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--galleryImgWidth))
    grid-auto-rows: var(--galleryImgWidth);
  section.beautyShop .department-block .gallery img
    display: grid;
    grid-auto-rows: auto
    width: var(--galleryImgWidth)
    height: 100%
  section.beautyShop .department-block .department-item .blockTitle h2
    padding-left: 0;
    width: 80%;
    margin: 0 auto;
  section.beautyShop
	  --galleryImgWidth 354px
  
  @media (max-width: 1209px)
    .gallery
      margin-top 56px
      justify-content center

    img:not(.any)
      margin-top 0
      margin-bottom 20px
      margin-right 20px
		
