.shoeshine 
  .contacts-box
    p
      display: none
  h1
    font-weight 400;

  .blockTitle
    &.shoe-shine-tab
      background-image url("../assets/img/shoeshine/shoe-shine.jpg")
  .service_wrapper
    padding: 77px 160px;
    h2
      font-size: 32px;
      padding-bottom: 53px;
    .wrapper_content
      display: flex;
      font-size: 24px;
      & > *
        width: 50%;
    .list-left
      display: flex;
      justify-content: space-between;
      padding-right: 5px;
    .wrapper_price_left
      color: #ba8d6c;
    .list-right
      display: flex;
      justify-content: space-between;
      padding-left: 35px
    .wrapper_price_right
      color: #ba8d6c;
  .container
    h2
      font-size: 32px;