@import "./normalize.css"
@import "./slick.css"
@import "./slick-theme.css"

@import "mixin.styl"
@import "components.styl"
@import "fonts.styl"
@import "myStyle.styl"
@import "beautyshop.styl"
@import "footer.styl"
@import "shoeShine.styl"
