<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="cmsmagazine" content="7db6e00a703aea3fc68a90b70c0d9535")
        title Усачевские бани
        link(rel="stylesheet", href="css/style.styl")
        link(rel="shortcut icon", type="image/ico", href="assets/img/favicon_1.ico")
        include components/facebook_pixel.pug
    body
        .overlay
        include components/headerForIdex.pug
        section.index
            .main-text-block
                h1 Усачевские бани
                p Найдите свой идеальный отдых: в шумной компании с друзьями, в семейном кругу или гордом одиночестве. В здоровой и тёплой атмосфере!
                .btn_block
                    .btn.white_btn(script-role='feedback')
                        | Забронировать кабинку
                    a(href="certificate.pug").btn.brown_btn.btn_marg
                        | Купить подарочную карту
            .main-baner-slider
                .slide-item(style='background-image: url(assets/img/slider1.jpg)')
                    .gradient
                .slide-item(style='background-image: url(assets/img/slider2.jpg)')
                    .gradient
                .slide-item(style='background-image: url(assets/img/slider3.jpg)')
                    .gradient
                .slide-item(style='background-image: url(assets/img/slider4.jpg)')
                    .gradient
                .slide-item(style='background-image: url(assets/img/slider5.jpg)')
                    .gradient
            .message_of_temperature
                h3 Сейчас в парной
                p Печь:
                    span  120 °C
                p Парная:
                    span  70 °C
                p Тип пара:  <span id="type_of_steam"> - </span>
                .btn.brown_btn(script-role="steam")
                    | Расписание пара
            .description_block
                .container
                    .description
                        .img-wrapper
                            img(src="assets/img/Logo_white.svg", alt="")
                        .text_block
                            p Представьте: тёплый пар окутывает вас, как одеяло. Ароматы сосны и пихты от каменки переносят вас из города в заповедные сибирские леса. Тепло разливается по всему телу. Каждая мышца расслабляется, все заботы уходят на второй план.
                            p Вот зачем приходят к нам – 85 лет мы создаём настоящую банную атмосферу!
            .branches-slider
                .slider-item(style="background-image: url(assets/img/branch1.jpg)")
                    .gradient
                    .gradient_bottom
                    .container
                        h2 Мужское отделение
                        p Традиции нужны, чтобы их сохранять. С 945 года на Руси и стар, и млад баню посещали вместе. Готовы поддержать культурное наследие?
                        .info_block
                            .info
                                h4 Время посещения
                                .datetime-block
                                    .datetime
                                        span ПН
                                        span 16:00 – 23:00
                                    .datetime
                                        span ВТ-ПТ
                                        span 09:00 – 23:00
                                    .datetime
                                        span СБ-ВС
                                        span 08:00 – 23:00
                            .info
                                h4 Стоимость
                                span.price 1 800 р.<br>
                                span без ограничения по времени
                .slider-item(style="background-image: url(assets/img/women-departament-bg.jpg)")
                    .gradient
                    .gradient_bottom
                    .container
                        h2 Женское отделение
                        p Традиции нужны, чтобы их сохранять. С 945 года на Руси и стар, и млад баню посещали вместе. Готовы поддержать культурное наследие?
                        .info_block
                            .info
                                h4 Время посещения
                                .datetime.highest-rank
                                    span ПН
                                    span 16:00 – 23:00
                                .datetime.highest-rank
                                    span ВТ
                                    span 9:00 – 23:00
                                .datetime.highest-rank
                                    span СР, ЧТ
                                    span 9:00 – 17:00
                                .datetime.highest-rank
                                    span ПТ
                                    span 9:00 – 23:00
                                .datetime.highest-rank
                                    span СБ
                                    span 8:00 – 23:00
                                    //- span 8:00 – 23:00 (Семейный день)
                                .datetime.highest-rank
                                    span ВС
                                    span 08:00 – 15:00
                            .info
                                h4 Стоимость
                                span.price 1 500 р.<br>
                                span без ограничения по времени
                .slider-item(style="background-image: url(assets/img/highest_rank-bg.png)")
                    .gradient
                    .gradient_bottom
                    .container
                        h2 Высший разряд
                        p Прекрасная парная, изящный интерьер в светлых тонах, отменное обслуживание, великолепная кухня -  идеальная атмосфера для отдыха!
                        .info_block
                            .info
                                h4 Время посещения
                                .datetime-block
                                    .datetime.highest-rank
                                        span СР, ЧТ
                                        span 18:00 – 23:00
                                    .datetime.highest-rank
                                        span СБ
                                        span 8:00 – 23:00
                                    .datetime.highest-rank
                                        span ВС
                                        span 16:00 – 23:00
                            .info
                                h4 Стоимость
                                span.price 2 300 р.<br>
                                span без ограничения по времени
                .slider-item(style="background-image: url(assets/img/vip_departamet_bg.jpg)")
                    .gradient
                    .gradient_bottom
                    .container
                        h2 VIP-кабинки
                        p Хотите собраться с друзьями на «пенные» посиделки, как в старые добрые времена? В комнатах отдыха, на просторных кожаных диванах размещаются до 14 человек.
                        .info_block
                            .info
                                h4 Время посещения
                                .datetime
                                    span ПН
                                    span 16:00 – 23:00
                                .datetime
                                    span ВТ-ПТ
                                    span 09:00 – 23:00
                                .datetime
                                    span СБ-ВС
                                    span 08:00 – 23:00
                            .info
                                h4 Стоимость
                                span.price от 6 000 р.<br>
                                span за 3 часа
                .slider-item(style="background-image: url(assets/img/cabinets-departament-bg.jpg)")
                    .gradient
                    .gradient_bottom
                    .container
                        h2 Кабинеты
                        p Индивидуальный кабинет для комфортного отдыха небольшой компании. В комнатах отдыха, на просторных кожаных диванах размещаются до 6 человек.
                        .info_block
                            .info
                                h4 Время посещения
                                .datetime
                                    span ПН
                                    span 16:00 – 23:00
                                .datetime
                                    span ВТ-ПТ
                                    span 09:00 – 23:00
                                .datetime
                                    span СБ-ВС
                                    span 08:00 – 23:00
                            .info
                                h4 Стоимость
                                span.price от 4 500 р.<br>
                                span за 3 часа
            .services_block
                .container
                    h2 Мы предлагаем услуги
                    .content_block
                        .price_block
                            .left
                                span Услуга
                                p Парение
                                p Массаж
                                p Массаж
                                p Массаж
                                p Массаж
                                p Массаж
                                p Массаж мыльный
                                p Помывка
                                p Помывка с берёз. веником
                                p Пилинг "кофе"
                                p Пилинг "соль"
                                p Обертывание
                                p Солевой скраб
                            .middle
                                span Продолжительность
                                p -
                                p 15 мин
                                p 30 мин
                                p 45 мин
                                p 60 мин
                                p 90 мин
                                p -
                                p -
                                p 30 мин
                                p 20 мин
                                p 20 мин
                                p 30 мин
                                p 15 мин
                            .right
                                span Стоимость
                                p.bold 1800 руб
                                p.bold 1000 руб
                                p.bold 1500 руб
                                p.bold 2000 руб
                                p.bold 2500 руб
                                p.bold 3000 руб
                                p.bold 2000 руб
                                p.bold 1000 руб
                                p.bold 1500 руб
                                p.bold 1600 руб
                                p.bold 1300 руб
                                p.bold 1300 руб
                                p.bold 1200 руб
                        .image_block
                            .content
                                h3 Банные принадлежности
                                .btn.brown_btn
                                    a(href="service.pug") Посмотреть прайс
            .slider_photo
                .slider-item(style="background-image: url(assets/img/slide_img1.jpg)")
                .slider-item(style="background-image: url(assets/img/slide_img2.jpg)")
                .slider-item(style="background-image: url(assets/img/slide_img3.jpg)")
                .slider-item(style="background-image: url(assets/img/slide_img4.jpg)")
                .slider-item(style="background-image: url(assets/img/slide_img5.jpg)")
            .action_block
                .container
                    h2 Акции
                    .action_slider
                        .slider-item
                            a.img(href="stocks.pug" style="background-image: url(assets/img/stock/14.08.jpg)")
                            h4 ☝️ Спешим сообщить, что 7 сентября «Усачевские бани» будут закрыты на санитарный день и профилактические работы! Ждем вас в нашей парной со следующего дня.
                            p ❗ По всем вопросам звоните: +7 (495) 740-84-36
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/08.06.jpg)")
                            h4 💥 Самоизоляция в Москве снята для салонов красоты! Пришло время, наконец, поухаживать за собой и сделать эффектный образ для долгожданных прогулок по любимому городу
                            p ❗ Мы снова работаем с 10:00 до 22:00 и готовы предоставить все виды парикмахерских услуг, педикюр и маникюр! Приходите по адресу ул. Усачева, д. 10, кор. 1
                            p 📱 По всем вопросам звоните: +7 (495) 740-84-36
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/24.03.jpg)")
                            h4 💥 Дорогие друзья, спешим сообщить, что с 1 апреля по 31 августа «Усачевские бани» запускают сезонную акцию!
                            p 📌 В этот период цена на безлимитное посещение мужского и женского отделения составит 1500 рублей!
                            p 📌 Кабинеты - 3000р за 3 часа, а продление всего 1000р!
                            p 📌 Vip-кабинка №1 - 6000р за 3 часа, продление - 2000р. №2 и №3 - 4500р за 3 часа и продление 1500р!
                            p ☝️ На высший разряд акция не распространяется!
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/8mart.jpg)")
                            h4 ❗️ Спешим сообщить, что 7, 8 и 9 марта «Усачевские бани» работают по другому расписанию! Сохраняйте себе, чтобы не потерять!
                            p 🎉 Внимание❗️7 марта - если приходит семья или пара, то женщине вход свободный!
                            p 📍 Ждем по адресу ул. Усачёва, д. 10, стр. 1.
                            p 📱 Звоните: +7 (495) 740-84-36
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/Instagram_Post.jpg)")
                            h4 ❗️ 23 и 24 февраля «Усачевские бани» работают по другому расписанию!
                            .table-block
                                .left
                                    p 📌 23 февраля
                                    p Мужское отделение
                                    p С 8.00 до 23.00
                                    p Женское отделение
                                    p С 8.00 до 15.00
                                    p Высший разряд
                                    p С 16.00 до 23.00
                                .right
                                    p 📌 24 февраля
                                    p Мужское отделение
                                    p С 9.00 до 23.00
                                    p Женское отделение
                                    p С 9.00 до 15.00
                                    p Высший разряд
                                    p С 16.00 до 23.00
                            p 📍 Ждем по адресу ул. Усачёва, д. 10, стр. 1.
                            p 📱 Звоните: +7 (495) 740-84-36
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/action_2.jpg)")
                            h4 🎁 Настоящий подарок для студентов от «Усачевских бань»!
                            p 💥 По будням, вход до 18:00 стоит всего 700 рублей и только после указанного времени опалата идет по полной стоимости. Проводите дневное время с пользой!
                            p 📍 Ждем по адресу ул. Усачёва, д. 10, стр. 1.
                            p 📱 Звоните: +7 (495) 740-84-36
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/action_1.jpg)")
                            h4 💥 «Усачевские бани» запускают акцию! Только по будням до 17:00 скидка на VIP-кабинки в женском отделении целых 50%!
                            p 🏖 Не упустите возможность комфортно отдохнуть с компанией подруг всего за 4500 рублей!
                            p 📍 Ждем по адресу ул. Усачёва, д. 10, стр. 1.
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/stock_2.jpg)")
                            h4 💫 Устройте себе и своей семье идеальный выходной в лучших банях!
                            p 💕 Субботний день в «Усачевских банях» - семейный день, а значит возможность отдохнуть вместе с близкими в уютной обстановке и комфорте!
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/stock_height.jpg)")
                            h4 Дорогие гости!
                            p 🎉С октября месяца открыл свои двери Высший разряд Усачевских бань! Прекрасная парная, изящный интерьер в светлых тонах, отменное обслуживание, великолепная кухня - идеальная атмосфера для отдыха!
                            p ☝🏻Цена входного билета 2300р. без ограничения по времени.
                        .slider-item
                            a.img(href="stocks.pug", style="background-image: url(assets/img/stock/stock_woman.jpg)")
                            h4 🎉 Праздник для девушек! Вход 1500 рублей вместо 1800 без ограничения по времени в женское отделение продолжается до конца октября!
                            p 😉 Пока мужчины наслаждались отличным отдыхом, женщины ждали открытия своего отделения! Поэтому мы решили сделать подарок для милых дам и продлить сроки акции!
                    a.btn(href='stocks.pug') Подробнее
            include components/social.pug

        include components/feedback.pug
        include components/steam.pug
        include components/form_message.pug

        include components/footer.pug

        script(src="js/main.js")
        include components/yandex_metric.pug