doctype html
html.beautyshop.shoeshine(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Студия чистки и реставрации обуви на Усачах
		link(rel="stylesheet" href="assets/fancybox/jquery.fancybox.min.css")
		link(rel="stylesheet", href="css/style.styl")
		link(rel="shortcut icon", type="image/ico", href="assets/img/favicon_1.ico")

	body
		.overlay.pointer
		include components/shoeShineHeader.pug
		section.beautyShop
			.breadcrumbs
				a(href="/") Главная
				span.round
				span Студия чистки и реставрации обуви

			h1 Студия чистки и реставрации обуви на Усачах

			.department-paginator
				p.active(data-id=1) Чистка обуви
				p(data-id=2) Ремонт обуви
				p(data-id=3) Срочный ремонт обуви
				p(data-id=4) Реставрация и химчистка

			.department-block
				.department-item.active(data-id=1)
					.blockTitle.shoe-shine-tab
						h2 Чистка обуви
					.service_wrapper
						h2 Прайс на чистку обуви
						.wrapper_content
							.list-left.row
								.col
									p Рукавица
									p 150 руб.
								.col
									p Колпак классический
									p 300 руб.
								.col
									p Колпак «Усачевские бани»
									p 800 руб.
								.col
									p Коврик войлок
									p 200 руб.
								.col
									p Коврик деревянный
									p 600 руб.
								.col
									p Мыло дегтярное
									p 100 руб.
								.col
									p Мыло душистое «Спивак»
									p 200 руб.
								.col
									p Мыло жидкое  «Спивак»
									p 250 руб.
								.col
									p Гель для душа «Спивак»
									p 300 руб.
								.col
									p Шампунь «Спивак»
									p 400 руб.
								.col
									p Мочалка лыковая
									p 300 руб.
								.col
									p Пемза овальная
									p 200 руб.
							.list-right
								.col
									p Мочалка сизаль
									p 400 руб.
								.col
									p Мочалка рами овальная
									p 200 руб.
								.col
									p Мочалка полипропилен
									p 250 руб.
								.col
									p Массажер
									p 200 руб.
								.col
									p Гребень деревянный
									p 100 руб.
								.col
									p Полотенце махровое
									p 1400 руб.
								.col
									p Халат махровый
									p 3200 руб.
								.col
									p Сланцы
									p 300 руб.
								.col
									p Веник дубовый
									p 300 руб.
								.col
									p Веник березовый
									p 300 руб.
								.col
									p Прокат простыни
									p 300 руб.
								.col
									p Прокат полотенца
									p 300 руб.
				.department-item(data-id=2)
					p Прайс 2
				.department-item(data-id=3)
					p Прайс 3
				.department-item(data-id=4)
					p Прайс 4
				.action_block
					h2 Акции
					.action_slider
						.slider-item
							a.img(href="stocks.pug" style="background-image: url(assets/img/shoeshine/stock1.png)")
							h4 12 августа «Усачевские бани» будут закрыты на санитарный день!
							p Не расстраивайтесь! Уже с 13 августа бани заработают в штатном режиме и будут 		радовать самым горячим паром и лучшим атмосферным отдыхом! ⠀
						.slider-item
							a.img(href="stocks.pug", style="background-image: url(assets/img/shoeshine/stock2.png)")
							h4 Профессиональный массаж!
							p В "Усачевских банях" можно не только попариться, но и сделать профессиональный 		массаж! 📍 Приходите по адресу ул. Усачёва, д. 10, стр. 1, чтобы по-настоящему 		расслабиться и отдохнуть.
						.slider-item
							a.img(href="stocks.pug", style="background-image: url(assets/img/shoeshine/stock3.png)")
							h4 Открытие переносится на 21 июня!
							p К сожалению, администрация города решила продлить отключение горячей воды на 			ул. Усачева ещё на день.
							p Открытие переносится на 21 июня!
						.slider-item
							a.img(href="stocks.pug" style="background-image: url(assets/img/shoeshine/stock4.png)")
							h4 12 августа «Усачевские бани» будут закрыты на санитарный день!
							p Не расстраивайтесь! Уже с 13 августа бани заработают в штатном режиме и будут 		радовать самым горячим паром и лучшим атмосферным отдыхом!
						.slider-item
							a.img(href="stocks.pug", style="background-image: url(assets/img/shoeshine/stock5.png)")
							h4 Профессиональный массаж!
							p В "Усачевских банях" можно не только попариться, но и сделать профессиональный 		массаж! 📍 Приходите по адресу ул. Усачёва, д. 10, стр. 1, чтобы по-настоящему 		расслабиться и отдохнуть.
					a.btn(href='stocks.pug') Подробнее

				.gallery
					img(alt="" src="assets/img/shoeshine/gallery/1.jpg")
					img(alt="" src="assets/img/shoeshine/gallery/2.jpg")
					img(alt="" src="assets/img/shoeshine/gallery/3.jpg")
					img(alt="" src="assets/img/shoeshine/gallery/4.jpg")
					img(alt="" src="assets/img/shoeshine/gallery/5.jpg")
					img(alt="" src="assets/img/shoeshine/gallery/6.jpg")
					img(alt="" src="assets/img/shoeshine/gallery/7.jpg")
					img(alt="" src="assets/img/shoeshine/gallery/8.jpg")

	include components/shoeShineFooter.pug

	script(src="js/main.js")
